<div class="contenu-utile">
  <h3 class="text-center text-violet">discutez de l'annonce <span class="big-title">entre vous</span></h3>
  <mat-card class="carte-annonce" *ngFor="let message of linkedMessagesList | async">
    <p class=bold>{{ message.titre }} </p>
    <p> {{ message.date}}</p>
    <p class>{{ message.contenu }} </p>
    <p class="italique"> {{message.user.prenom}}</p>
  </mat-card>

  <form [formGroup]="messageForm">

    Contenu du message:<br>
    <input type="text" name="contenu" placeholder="Veuillez rédiger votre message ici" formControlName="contenuMessage">
  </form>
  <div>
    <button class="bg-violet text-blanc" (click)="onSave()" [disabled]="messageForm.invalid">Envoyer un message</button>
  </div>


</div>