<div class= "contenu" *ngIf = "annonceAffichee" >
<h3>{{ annonceAffichee.titre }}</h3>
<p>{{annonceAffichee.user.prenom}}</p>
<p>Prix fixé par {{annonceAffichee.user.prenom}}: {{annonceAffichee.prix}} €</p>
<p>{{annonceAffichee.cpDepart}}</p>
<p>{{annonceAffichee.villeDepart}}</p>
<p>{{annonceAffichee.dateDepart}}</p>
<p>{{annonceAffichee.description}}</p>
<p>{{annonceAffichee.cpArrivee}}</p>
<p>{{annonceAffichee.villeArrivee}}</p>
<p>{{annonceAffichee.dateArrivee}}</p>




<app-messages-de-lannonce></app-messages-de-lannonce>
</div>