#conteneur-cartes {background:#efefef;padding-bottom: 30px;text-align: center;}

.carte-annonce {
    min-width: 352px;
    min-height: 300px;
    margin: 0 20px 20px 0;
    padding: 2%;
    display: inline-block;
    border-style: hidden;
    border-radius: 26px;
    box-shadow: none;
    text-align: left;
}

.lieux-carte, .prix-carte, .date-annonce, .redacteur-carte {margin-top: 16px;}

h4.titre-annonce {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    color: #6740f4;
}

.date-annonce span { 
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    color: #353535;
vertical-align: super;}

.lieux-carte p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    color: #35db80;
}

.carte-annonce a {text-decoration: none;}

.prix-carte {
    font-size: 24px;
    font-weight: 600;
    color: #6740f4;
    text-decoration: none;
    font-family: Poppins;}

.redacteur-carte p {
    font-family: Poppins;
    font-size: 12px;
    line-height: 10px;
    color: #353535;
}

.button-annonce{text-align: center;}