.container-cartes {
    width: 100%;
    height: 579px;
    background-image: url("/assets/bg-chat.png");
    background-repeat: no-repeat;
    background-color: #e5e9eb;
    text-align: center;
    object-fit: contain;
    
}

.carte-annonce {
    
    min-width: 352px;
    min-height: 312px;
    margin: 20px;
    
    display: inline-block;
    border-style: hidden;
    border-radius: 26px;
    box-shadow: none;
    text-align: left;
    
}

.lieux-carte {
    font-size: 14px;
    color: #35db80;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 43px;
    margin-left: 37px;
}

.carte-annonce a {
    text-decoration: none;
}

.prix-carte {
    font-size: 22px;
    color: #6740f4;
    text-decoration: none;
    margin-left: 37px;
}

.redacteur-carte {
    color: #353535;
    margin-left: 37px;
    font-style: italic;
}