<div class="header, contenu-utile" >
<div id="logo"> <img src="assets/wfp_logo.png" /></div>
<nav>
  <label for="menu-mobile" class="menu-mobile">Navigation</label>
  <input type="checkbox" id="menu-mobile" role="button">
  <ul>
    <li class="menu-icon menu-rechercher"><a href="#"><img src="assets/search_icon.svg" width="25px" height="25px" alt="Rechercher un trajet"/>Rechercher un trajet</a></li>
    <li class="menu-icon menu-proposer"><a href="#"><img src="assets/calendar_icon.svg" width="25px" height="25px" alt="Proposer un trajet"/>Proposer un trajet</a></li>
	<li class="menu-inscription"><a href="#">Inscription</a></li>
    <li class="menu-connexion"><a href="#">Connexion</a></li>
  </ul>
  <div class="clear"></div>
</nav>
</div>

<p>Cyprum itidem insulam procul a continenti discretam et portuosam inter municipia crebra urbes duae faciunt claram Salamis et Paphus, altera Iovis delubris altera Veneris templo insignis. tanta autem tamque multiplici fertilitate abundat rerum omnium eadem Cyprus ut nullius externi indigens adminiculi indigenis viribus a fundamento ipso carinae ad supremos usque carbasos aedificet onerariam navem omnibusque armamentis instructam mari committat.

  Hinc ille commotus ut iniusta perferens et indigna praefecti custodiam protectoribus mandaverat fidis. quo conperto Montius tunc quaestor acer quidem sed ad lenitatem propensior, consulens in commune advocatos palatinarum primos scholarum adlocutus est mollius docens nec decere haec fieri nec prodesse addensque vocis obiurgatorio sonu quod si id placeret, post statuas Constantii deiectas super adimenda vita praefecto conveniet securius cogitari.
  
  Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.</p>