#footer-top {background-color:#e8e8e8;padding-bottom: 60px;}
#footer-top ul li {display: inline;text-align: center;list-style: none;margin-right:8%;}
#footer-top ul li:last-of-type {margin-right:0px;}




#footer-bottom ul.logo-rs {float:none;}

#footer-bottom-left { 
    float:left; 
    display: inline-block;}
#footer-bottom-right {    
    display:inline-block;
    float: right;}

#footer-bottom-right ul {float:left; margin-right:40px;}
#footer-bottom-right ul:last-of-type {margin-right: 0px;}
#footer-bottom-right a {
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #6e6e6e;}