#disclaimer {
    height:80px;
    background-color: rgb(53, 53, 53);
    color: white;
    vertical-align: middle;
}

#disclaimer p{
    padding-top: 26px;
}

#section-search {
    height: 525px;
    background-image: url("/assets/bg-search.png");
    background-repeat: no-repeat;
    background-color: #e5e9eb;
    text-align: center;
    object-fit: contain;
}

#section-presentation > img {float: left;margin-right:70px;padding:60px 0;vertical-align: middle;}

#bloc-texte {
    padding-right:60px;
    max-width: 1200px;
}

#bloc-texte ul li {
    display: inline;
    float: left;
}
#section-asso { 
    width:50%;
    float:left; 
    display: inline-block;
    background-color: #6740f4;}
#section-pro {    
    width:50%;
    display:inline-block;
    background-color:#35db80;}
#section-pro .button {float: right}
#section-asso .contenu-utile-int, #section-pro .contenu-utile-int {padding-bottom: 60px;}

#container-cartes {
    width: 100%;
    height: 579px;
    background-image: url("/assets/bg-cartes.png");
    background-repeat: no-repeat;
    background-color: #e5e9eb;
    text-align: center;
    object-fit: contain; 
}

.carte-annonce {
    min-width: 352px;
    min-height: 312px;
    margin: 20px;
    display: inline-block;
    border-style: hidden;
    border-radius: 26px;
    box-shadow: none;
    text-align: left;
    
}

.lieux-carte {
    font-size: 14px;
    color: #35db80;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 43px;
    margin-left: 37px;
}

.carte-annonce a {
    text-decoration: none;
}

.prix-carte {
    font-size: 22px;
    color: #6740f4;
    text-decoration: none;
    margin-left: 37px;
}

.redacteur-carte {
    color: #353535;
    margin-left: 37px;
    font-style: italic;
}

#titre-dernieres-annonces{
    padding-top:60px;
    color: #353535;
    font-size: 18px;   
}


@media screen and (max-width: 1320px) {
    #section-asso, #section-pro { 
        width:100%;}
  }
  