<div id = "disclaimer">
  <p class= "contenu-utile">La première plateforme dédiée au <span class ="bold">transport d'animaux de compagnie</span></p>
</div>


<div class=container-cartes>
  <mat-card class="carte-annonce" *ngFor="let annonce of annonceList | async">
    <a routerLink="/annoncedetail/{{annonce.annonceId}}">

      <div class="textes-carte">
        <p>{{ annonce.villeDepart }} </p>
        <p>{{ annonce.villeArrivee }} </p>
      </div>

      <div>{{ annonce.prix | number:'1.2-2'}} €</div>

      <div> {{ annonce.user.prenom}}</div>

    </a>
  </mat-card>
</div>