
 
  <div >
    <p>blabla</p>
    <mat-card *ngFor="let annonce of annonceList | async">
        <a routerLink="/annoncedetail/{{annonce.annonceId}}">
         
          <h4 class="titreAnnonce">Id de l'annonce {{ annonce.annonceId }}</h4>
          
            <div>{{ annonce.prix | number:'1.2-2'}} €</div>
            <div >{{ annonce.description }} </div>
          
      </a>
    </mat-card>
  </div> 


<p>
  homepage works!
</p>


<li>
  <ul *ngFor="let annonce of annoncesList">
    <p>l'id de l'annonce est: {{annonce.annonceId}}</p>
  </ul>
</li>