/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

.contenu-utile {
    padding-left: 10%;
    padding-right: 10%;
}

.clear {clear: both;}
.left {float: left;}
.right {float: right;}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.majuscule {text-transform: uppercase;}
.text-align-left {text-align: left;}
.text-align-right {text-align: right;}